<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
                <ul>
                    <li class="p-hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <!-- <img src="assets/icons/menu.png" alt="search"> -->
                    </li>
                    <li>
                        <img class="p-cursor" src="assets/icons/search.png" alt="search" width="20">
                    </li>
                </ul>
                <ul>
                    <li>
                        <a [routerLink]="['/']" [routerLinkActive]="['active']">Home</a>
                    </li>
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Projects</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
