<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>

            <div class="col-sm-7 p-rgt-sec">
                <div>
                <span class="p-tag">Web Developer</span>
                <h1 class="mt-4">Mubina Shaikh</h1>
                <p class="p-des mt-5 mb-6">
                    <span class="hi-there">Hi There!  </span>  I'm a Full Stack Developer <span style="background-color: beige;">Angular & NodeJS</span>.
                    <br>
                    <span>Passionate about leveraging modern technologies to create innovative solutions and enhance user experiences.</span>
                </p>
                <a href="#" class="p-read-more">Read More <img src="assets/icons/read-more.png" alt="Read More" width="18" class="ml-3"></a>
                </div>
            
                <div>
                    <button class="oval-button">Download my Resume</button>
                </div>
                <div>
                    <h1 class="p-newsletter">Subscribe to my Newsletter</h1>
                    <form class="form-inline">
                        <div class="input-group">
                            <input type="email" class="form-control form-control-sm" id="email" placeholder="enter your email here">
                            <div class="input-group-append">
                                <button class="btn btn-warning">Subscribe</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>